/*#2C363F #A663CC #23B5D3 is a good combo*/

* {
    background-color: #2C363F;
    font-family: "Times New Roman", sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-top: 4%
}

a {
    /* the default shade of blue looks atrotious with the color scheme */
    background-color: transparent;
    color: #23B5D3;
}

img {
    max-width: 100%;
}

html, body {
    height: 90%;
}

.project {
    border: 3px ridge #A663CC;
    float: left;
    margin-right: 1em;
    margin-left: 1em;
    height: 30em;
    width: 20em;
}

.sidescroller {
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
}

#homelink {
    margin: auto;
    font-size: large;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,-50%);
}

#rightbox {
    float: right;
    position: relative;
    right: 5%;
    width: 40%;
}

#leftbox {
    float: left;
    position: relative;
    border: 7px outset #A663CC;
    left: 5%;
    width: 40%;
    padding: 1%;
}